<h1>Orders</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Price</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.quantity %></td>
    <td><%= order.price %></td>
    <td><%= order.customer_name %></td>
    <td><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
